h1 {
    color:blue;
    background-color:yellow;

}

main h1 {
    background-color: green;
}

#navbar {
    background-color: grey;
    color: white;
    font-size: larger;
    font-family: sans-serif;
}

#maincontent{
    color:blue;
}

td.name{
    font-style: italic;
}